@font-face {
  font-family: Manrope;
  src:
    url('fonts/Manrope-VariableFont_wght.woff2') format('woff2-variations'),
    url('fonts/static/Manrope-Regular.woff2') format('woff2'),
    url('fonts/static/Manrope-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: Manrope;
  src:
    url('fonts/Manrope-VariableFont_wght.woff2') format('woff2-variations'),
    url('fonts/static/Manrope-SemiBold.woff2') format('woff2'),
    url('fonts/static/Manrope-SemiBold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: Manrope;
  src:
    url('fonts/Manrope-VariableFont_wght.woff2') format('woff2-variations'),
    url('fonts/static/Manrope-Bold.woff2') format('woff2'),
    url('fonts/static/Manrope-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}

body {
  font-family: Manrope, sans-serif;
}
